---
import Layout from '#layouts/Layout.astro';

import Header from '#components/Header.astro';
import NavBar from '#components/NavBar.tsx';
import ShowItems from '#components/ShowItems.astro';
---

<Layout title="Manos Magicas - Tienda de manualidades y artesanias">
	<main class="px-3 flex flex-col gap-10 max-w-lg m-auto" 
		  transition:name="container-main" transition:animate="slide">	

		<Header/>
		
		<NavBar sections={['Perlas', 'Letras', 'Flores', 'Anchetas']} client:only/>

		<section>

			<h2 class="text-5xl mb-5 font-bold text-center lg:pt-5">
				Tienda
			</h2>

			<div id="perlas">
				<h3 class="text-3xl text-center font-semibold show">
					Perlas
				</h3>

				<ShowItems collection="perlas"/>
			</div>

			<div id="letras">
				<h3 class="text-3xl text-center font-semibold show">
					Letras
				</h3>

				<ShowItems collection="letras"/>
			</div>

			<div id="flores">
				<h3 class="text-3xl text-center font-semibold show">
					Flores
				</h3>

				<ShowItems collection="flores"/>
			</div>

			<div id="anchetas">
				<h3 class="text-3xl text-center font-semibold show">
					Anchetas
				</h3>

				<ShowItems collection="anchetas"/>
			</div>
		</section>
    </main>
</Layout>