---
import Back from '#assets/Back.astro';
---

<a  href="/"
    class="fixed top-5 ml-3 border-2 border-pink-900 rounded-md bg-pink-200 shadow shadow-pink-950 opacity-70 z-50">
    <Back class="size-10 text-pink-900"/>
</a>